* {
    box-sizing: border-box;
}
:root {
    --sky_blue: #1e90ff;
    --white: #ffffff;
    --pr_green: #3CB371;
    --pr_blue: #007FFF;
    --sd_orange: #FFA500;
    --sd_white: #FFFFFF;
    --sd_gray: #808080;
}

.bg-pr-blue {
    background-color: var(--pr_blue);
}
.pr-btn-green {
    background-color: var(--pr_green);
}
.pr-icon {
    color: var(--sd_orange);
}
.pr-text-gray {
    color: var(--sd_gray);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#header span {
    font-size: 3rem;
}

#header {
    background-color: var(--pr_blue);
}
.nav-itm li a{
    color: white;
}

nav > ul > li {
    padding: 0.5rem;
    border-radius: 1rem;
}

.nav > ul > li:hover {
    background-color: var(--sd_orange);
}

.nav > ul > li > a {
    color: var(--sd_gray);
}



/* Banner */
#banner {
    width: 100%;
    position: relative;
}

.imageHolder {
    width: 100%;
}

.imageHolder img {
    display: block;
    max-width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--sd_white);
}

#procedure{
    background-color:#e5e5e5;
}

.price-item{
    background-color: #7bf43b;
    border-radius: 0.5rem;
    padding: 1rem;
}

.su-button{
    background-color:#1e90ff;
    border-radius: 0.7rem;
}

/* footer */
.footer {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer div {
    flex: 1;
    margin: 10px;
}

.footer .contact-info {
    display: flex;
    flex-direction: column;
}

.footer .contact-info p {
    margin: 5px 0;
}

.footer .newsletter {
    text-align: center;
}

.footer .newsletter input[type="email"] {
    padding: 10px;
    width: 80%;
    max-width: 300px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.footer .newsletter input[type="submit"] {
    padding: 10px 20px;
    background-color: #d4ff00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer .links {
    display: flex;
    flex-direction: column;
}

.footer .links a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .logos img {
    max-width: 80px;
    margin: 10px;
}